# dependencies
node_modules
.pnp
.pnp.js

# misc
.DS_Store
*.pem
dist
coverage

# local env files
.env

# Typescript
*.tsbuildinfo
*.d.ts
dist
build

# Foundry files
/cache_forge
/out


# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
